/* make the main content area wider */
.wy-nav-content {
  max-width: 100%;
  width: 100%;
}

.admonition{
  border-radius: 0 0 5px 5px;
}

.admonition-title {
  border-radius: 5px 5px 0 0;
}

img {
  border-radius: 10px;
}

.button-center {
  text-align: center;
  margin: 1em 0;
}
.btn {
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: #0056b3;
}


/* Unverified tag */

.api {
  font-family: monospace;
}

h1.unverified-section::after,
h2.unverified-section::after,
h3.unverified-section::after,
h4.unverified-section::after,
h5.unverified-section::after,
h6.unverified-section::after {
  content: " UNVERIFIED";
  display: inline-block;
  margin-left: 0.6em;
  padding: 0.5em 0.55em;

  font-size: 0.65em;
  font-weight: 600;
  line-height: 1;

  border-radius: 0.25rem;

  background: orange;
  color: black;

  vertical-align: middle;
  font-style: italic;

}








